# ========== SERVIDOR ==========
PORT=8080

# ========== BANCO DE DADOS ==========
DB_USER=postgres
DB_PASSWORD=seu_password_aqui
DB_HOST=localhost
DB_PORT=5432
DB_NAME=kuvia_db

# ========== FRONTEND ==========
FRONTEND_URL=http://localhost:5173

# ========== JWT ==========
JWT_SECRET=sua_chave_secreta_super_segura_aqui_com_muitos_caracteres


